##########################################
## Security Agent Runtime Configuration ##
##                                      ##
## Settings to sent logs to Datadog are ##
## fetched from section `logs_config`   ##
##########################################

# runtime_security_config:
  ## @param enabled - boolean - optional - default: false
  ## Set to true to enable the Security Runtime Module.
  #
  # enabled: false

  ## @param socket - string - optional - default: /opt/datadog-agent/run/runtime-security.sock
  ## The full path to the location of the unix socket where security runtime module is accessed.
  #
  # socket: /opt/datadog-agent/run/runtime-security.sock
